* {
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro';
}

.header {
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(../../images/bg_python.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    justify-content: space-between;
}

nav {
    display: flex;
    padding: 2% 0.7%;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    padding-left: 20px;
    color: #fff;
    font-size: 30px;
}

nav img {
    width: 70px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    padding: 9px 12px;
    background-color: rgba(0,255,255,0.8);
    border-radius: 2px;
}


.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.homepage, .homepage a {
    text-decoration: none;
    background-color: #00ffff;
    border: none;
    border-radius: 3px;
    color: white;
    display: inline-block;
    padding: 15px 17px;
    text-transform: uppercase;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff
}

.boutton_rouge_yt {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 32px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.boutton_rouge_yt:hover {
    border: 1px solid #00ffff;
    background: #00ffff;
    color: black;
    transition: 0.7s;
}

section div a {
    align-items: center;
}

nav .fa {
    display: none;
}

/* ============================== */
/*   Menu déroulant sur le côté   */

@media(max-width: 1000px) {
    .text-box h1 {font-size: 50px;}

    .text-box p {font-size: 15px;}

    .nav-links ul li {display: block;}

    .nav-links {
        position: absolute;
        background: rgba(0,255,255,0.2);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.7s;

    }

    nav h1 {color: rgba(0,0,0,0);}
    h2 {font-size: 50px;}

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {padding-right: 10px;}
}

/* =============== */
/* Première Partie */

.prem_partie {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 15px;
    font-weight: 1000;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.propos-col {
    flex-basis: 49%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding 150px 150px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weigth: 600;
    margin: 10px 0;
}

.propos-col:hover {
    box-shadow: 0 0 20 px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

.scroller {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1rem;
    overflow-x: auto;
}

.scroller::-webkit-scrollbar {
    display: none;
}

.scroller-item {
    position: relative;
}

.scroller-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 15px);
    height: calc(100%);
    border-radius: inherit;
    z-index: -1;
}

/* Images Ghosmix & Hasembler */

.images {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.images-col-ghosmix {
    border: solid 5px #efefef;
    box-shadow: 0 0 1px #999;
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    background-color: #992222
}

.images-col-hasembler {
    border: solid 5px #efefef;
    box-shadow: 0 0 1px #999;
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    background-color: #00efef
}

.images-col-ghosmix img {
    width: 70%;
}

.images-col-hasembler img {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline;
}

footer {
    background-color: rgb(24, 24, 24);
    color: rgba(255, 255, 255, 0.5);
    padding: 50px;
    text-align: center;
}

/* Boutton pour visiter la page de téléchargement du jeu en python */

.button-download{
    display: inline-block;
    text-decoration: none;
    color: #f44336;
    border: 3px solid #f44336;
    padding: 20px 50px;
    font-size: 25px;
    position: relative;
    cursor: pointer;
    margin-top: 100px;
    transform: translate(-50%, -50%);
    left: 173px;
}

.button-download::before, .button-download::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s ease-in;
}

.button-download::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}

.button-download::after{
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}

.button-download:hover::before, .button-download:hover::after{
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}
